<template>
    <div class="login">
        
        <button v-on:click="sendRegister">send</button>
    </div>
</template>

<script>
import cookies from 'browser-cookies';

export default {
    name: 'login',
    methods: {
        async sendRegister(){
            let user = {
                email: 'majidghafoorzsdadse@gmail.com',
                username: 'm2asd23',
                password: '8413696871'
            };
            const csrf = cookies.get('XSRF-TOKEN');
            let response = await fetch('/api/auth/register', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'x-xsrf-token': csrf,
                },
                body: JSON.stringify(user)
            });
            const body = await response.json();
            console.log(body);

        }
    }
}
</script>